
.woocommerce-breadcrumb{
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.09px;
    color: $dark-grey-color;
    padding-top: 30px;
    padding-bottom:30px;

    a{
        font-weight: 400;
        font-size: 18px;
        line-height: 21.09px;
        color: $dark-grey-color;
        text-decoration:none;
    }
}


    .member-banner{
        display:flex;
        flex-direction:column;
        justify-content: center;
        text-align:center;
        margin:auto;
        width: 100%;
        height: 265px;
        background-color: #DCE1DA;

        .member-text{
            font-weight: 500;
            font-size:38px;
            line-height: 44.53px;
            color: $dark-grey-color;
            padding-bottom:25px;
        }

        .setting-banner-text{
            font-weight: 400;
            font-size: 38px;
            line-height: 44.53px;
            color: $dark-grey-color;
            padding-bottom:25px;
        }

        .no-member-text{
            font-weight: 400;
            font-size: 18px;
            line-height: 21.09px;
            color: $dark-grey-color;
        }
    }

    .woocommerce-result-count{
        display:none;
    }
    
    .woocommerce-ordering{
        display:none;
    }

    
    .woocommerce-products-header{
        padding-left:510px;

        h1{
            font-family:'Roboto-Bold';
            font-size:44px;
            line-height: 51.56px;
            color: $dark-grey-color;
            padding-bottom: 10px;   
        }
    
        .title-mini-text{
            font-family:'Roboto-Light';
            font-size: 18px;
            line-height: 21.09px;
            color: $dark-grey-color;    
        }
    }

    .filter-sort-container{
        margin-top: 50px;
        display:flex;
        flex-direction:row;
        justify-content: space-between;     

        .filter-sort{
            display:flex;
            flex-direction:row;
            width: 300px;
            vertical-align: baseline;
            font-family: 'Roboto-Regular';
            color: $dark-grey-color;

            .filter-icon{
                padding-right: 5px;
                width: 30px;
            }

            .filter-text{
                padding-top: 8px;
                font-size: 16px;
            }
        }

        .model-product-container{
            display:flex;
            flex-direction:row;
            justify-content:end;
            width: 300px;
            vertical-align: baseline;
            text-align: end;
            font-family: 'Roboto-Regular';
            margin-left: 50px;
            color: $dark-grey-color;

            .models-text{
                padding-right:40px;
            }
        }
    }

.shop-page-container{
    margin:auto;
    display:flex;
    flex-direction:row;
    justify-content:center;
    width:100%;
    height:auto;

.filter-div{
    padding-left: 50px;
    width: 30%;
    height: auto;
    margin-left:10px;
    margin-top: -160px;

    .new-arrival-header{
        font-family: "Roboto-Bold";
        font-size: 22px;
        color: $dark-grey-color;
    }
    
    .new-arrival-text{
        font-family: "Roboto-Regular";
        font-size: 16px;
        color: $dark-grey-color;
        margin-bottom: 20px;
    }

    .shop-room-header{
        font-family: "Roboto-Bold";
        font-size: 20px;
        color: $dark-grey-color;
        margin-bottom: 10px;
    }

    .categories{
        list-style:none;
        
        li{
            a{
                font-family: "Roboto-Regular";
                font-size: 16px;
                color: $dark-grey-color;
                margin-bottom: 5px;
                text-decoration:none;
            }
            
        }
    }
    .shop-concept{
        margin-top: 40px;
        font-family: "Roboto-Bold";
        font-size: 20px;
        color: $dark-grey-color;
        margin-bottom: 17px;
    }

    .concept-text{
        font-family: "Roboto-Regular";
        font-size: 16px;
        color: $dark-grey-color;
        margin-bottom: 8px;
    }

}


form{
    .gender-text{
        font-family: "Roboto-Bold";
        font-size:20px;
        line-height: 23.44px;
        color: $dark-grey-color;
        margin-top: 40px;

    }

    .gender-container {
        display:flex;
        flex-direction: column;
        margin-top:10px;
        margin-bottom: 10px;

        input[type="radio"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 2px solid #AAAAAC;
            width: 20px;
            height: 20px;
            border-radius: 5px;
           
        }
    }
}


.wpfFilterContent{

    .wfpDescription{
        font-size: 20px;
        font-family: "Roboto-Bold";
        color: $dark-grey-color;
        margin-top:10px;
    }
}

.wpfFilterWrapper[data-filter-type="wpfPrice"] .wpfFilterContent{
    width:200px;
}

.wpfFilterButton.wpfButton, .wpfClearButton.wpfButton{
    width:80px;
    height:40px;
    font-family: 'Roboto-Bold';
    color: $white-color;
    background-color: $dark-grey-color;
    font-size: 16px;
    line-height: 18.75px;
}

    .products{
        display:flex; 
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        width:70%;

        .button{
            display:none;
        }
        
        .product{
            list-style:none;
            margin:10px;
            width: 306px;
            height: 465px;

            .woocommerce-LoopProduct-link{
                text-decoration:none;
                color: $dark-grey-color;             

            img{
                width:306px;
                height: 365px;
            }
            
            .woocommerce-loop-product__title{
                    margin-top: 10px;
                    font-family:'Roboto-Bold';
                    font-size:18px;
                    line-height:21.09px;
                    color: $dark-grey-color;              
            }

            .attribute-div{
             
                label{
                    input[type="radio"]{
                        -webkit-appearance: none; 
                        -moz-appearance: none;
                        appearance: none; 
                        width: 10px;
                        height: 10px; 
                        border-radius: 50%;
                        border: none;                     
                        outline: none; 

                        &#color_211_grey{
                            background-color: grey;
                            position:relative;
                            top:10px;
                        }

                        &#color_211_pink{
                            background-color: rgb(212, 134, 147);
                            position:relative;
                            top: -9px;
                            left: 15px;
                        }

                        &#color_208_brown{
                            background-color: rgb(159, 54, 54);
                            position:relative;
                            top:10px;
                           
                        }

                        &#color_208_grey{
                            background-color: grey;
                            position:relative;
                            top: -9px;
                            left: 15px;
                        }

                        &#color_82_grey{
                            background-color: grey;
                            position:relative;
                            top:10px;
                        }

                        &#color_82_pink{
                            background-color: rgb(212, 134, 147);
                            position:relative;
                            top: -9px;
                            left: 15px;
                        }

                        &#color_78_brown{
                            background-color: rgb(159, 54, 54);
                            position:relative;
                            top:10px;
                        }

                        &#color_78_grey{
                            background-color: grey;
                            position:relative;
                            top: -9px;
                            left: 15px;
                        }

                        &#color_72_brown{
                            background-color: rgb(159, 54, 54);
                            position:relative;
                            top:10px;
                        }

                        &#color_72_grey{
                            background-color: grey;
                            position:relative;
                            top: -9px;
                            left: 15px;
                        }
                    }
            }        
    }

            .price{
                font-family: "Roboto-Bold";
                font-size: 24px;
                line-height: 28.13px;
                margin-bottom:5px;    
                position:relative;
                bottom: 0;
                
                }
            }
        }  
    }  
}

#sidebar{
    display:none;
}
    
.button-container{
    display:flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 500px;

    .load-more-button{
        width:371px;
        height:51px;
        font-family: 'Roboto-Bold';
        color: $white-color;
        background-color: $dark-grey-color;
        font-size: 16px;
        line-height: 18.75px;
    }  
}

.page-numbers{
    display:none;
}

.rating-with-stars{
    height:16px;
    width: calc(16px*5);
    background-image: url("../images/star_unfilled.png");
    background-size: auto 100%;
    background-repeat: repeat-x;

    .fill{
        width:0%;
        height:100%;
        background-image: url("../images/star_filled.png");
        background-size: auto 100%;
        background-repeat: repeat-x;
    }
}

